<div class="header">
    <div class="pull-left w2 ml10">
        <img src="resources/img/greenmarket_logo.svg">
    </div>
    <h1 data-bind="click: $screen.onLogin" class="pull-right mr20 mt15" style="text-decoration: underline;">Login</h1>
</div>
<div class="body">
    <div class="row mt50 mb25 flexCenterCol">
        <img src="resources/img/greenmarket_logo.svg" style="max-width:100px;">
    </div>
    <div class="row mb30" style="margin-top: 5px">
        <div class="col-sm-4 col-md-6 offset-sm-4 offset-md-3">
            <img src="resources/img/greenmarket.svg" style="width:100%">
        </div>
    </div>
    <div class="row mb40" style="text-align:center">
        <h1 style="font-size: 2em; font-weight: bold;">Online fresh-produce market place.</h1>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-4 col-xl-2 offset-md-4 offset-lg-4 offset-xl-5">
            <h1 class="pull-left" style="font-size: 45px">Buy</h1>
            <h1 class="pull-right" style="font-size: 45px">Sell</h1>
        </div>
    </div>
</div>
<div class="footer" style="text-align: center">
    <h2 style="font-size: 2em"><i class="fa fa-play" style="color:#2c9e28;"></i> What is Greenmarket</h2>
</div>