<div class="header">
    <a class="pull-right"><img class="avatar" src="resources/img/avatar.png" data-bind="click: $screen.onLogin">Login</a>
</div>
<div class="body">
    <img class="greenmarget-logo" src="resources/img/logoIcon.svg">
    <img class="greenmarget-text" src="resources/img/logoText.svg">
    <h3>Online fresh-produce marketplace.</h3>
    <div>
        <button type="button" class="btn btn-default">Buy</button>
        <button type="button" class="btn btn-default">Sell</button>
    </div>
</div>
